html{scroll-behavior: smooth;}

*{
    /*outline: 1px dashed blue;*/
    box-sizing: border-box;
    margin: 0;
    line-height: 1.5;
}

:root{
    --color--primary: #DEDEDE;
    --color--secondary: #DC635A;
    --color--tertiary: #3A3A3A;
    --color--background: #1A1A1A;
}

body{
    color: var(--color--primary);
    background-color: var(--color--background);
    font-family: montserrat, serif;
    padding: 0 4vw;
    line-height: 1.5;
    max-width: 1920px;
    margin: 0 auto;
}

.font-anton{
    font-family: 'Anton', sans-serif;
}

.zvyrazneni{
    color: var(--color--primary);
    background-color: var(--color--secondary);
    font-weight: bold;
    padding: 0.25em;
    border-radius: 0.5em;
}

.color-primary{color: var(--color--primary);}
.color-secondary{color: var(--color--secondary);}
.p-uvod{padding: 4em 0 2em 0;}
.p-sekce{padding: 2em 0;}
.p-reset{padding: 0 !important;}
.text-bold{font-weight: 900;}
.text-bigger{font-size: 1.125rem;}
.padding-rl{padding: 0 0.5em 0 0.5em;}

/*--------------------------------------------------------------------------------------------------------------------------------------------*/
/*  UVOD  */
/*--------------------------------------------------------------------------------------------------------------------------------------------*/

nav button{
    display: none;
}

nav{
    padding: 4em 0 6em 0;
}

nav ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

nav ul li{
    padding: 1em;
    color: var(--color--tertiary);
    font-weight: bold;
    font-size: 1.25em;
}

nav ul li a{
    text-decoration: none;
    color: var(--color--tertiary);
}

nav ul li:first-child{
    margin-right: auto;
    border-radius: 1em;
    background-color: var(--color--tertiary);
}

nav ul li a:hover{
    color: var(--color--primary);
    cursor: pointer;
    transition: ease-in-out 0.5s;
}

nav ul li a:visited{
    color: var(--color--tertiary);
    cursor: pointer;
}

nav ul li:first-child a:visited{
    color: white;
}


.sekce-nadpis{
    display: flex;
    align-items: center;
    gap: 1em;
    padding: 1em 0;
}

.sekce-nadpis h2{
    font-size: 3em;
    font-weight: bold;
}

.sekce-nadpis h2:nth-child(2){
    font-size: 1.5em;
    font-weight: 900;
    border-radius: 0.5em;
    background-color: var(--color--primary);
    color: var(--color--background);
    padding: 0.5em;
    width: 60%;
}


.uvod .uvod-grid{
    background-image: url("../fotos/uvodni_foto.jpg");
    background-size: cover;
    height: 90vh;
    display: grid;
    background-position: center;
    border-radius: 2em;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas:
        "nazev nazev nazev"
        "text-hlavni . ."
        "text-vedlejsi . ."
        ". . oteviraci-doba";
}

.uvod .uvod-grid h1{
    grid-area: nazev;
    font-size: 10em;
    font-weight: 900;
    margin-top: -0.75em;
    color: var(--color--secondary);
    text-align: center;
    transform: scaleY(1.25);
}

.uvod .uvod-grid .text-hlavni{
    grid-area: text-hlavni;
    font-size: 4em;
    font-weight: 900;
    padding: 2em 1em;
}

.uvod .uvod-grid .text-vedlejsi{
    grid-area: text-vedlejsi;
    font-size: 1.5em;
    padding: 0 2em;
}

.uvod .uvod-grid .oteviraci-doba{
    grid-area: oteviraci-doba;
    font-size: 1.25em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.uvod .uvod-grid .oteviraci-doba .casy{
    background-color: var(--color--primary);
    color: var(--color--tertiary);
    border-radius: 2em;
    padding: 1.25em;
}

/*--------------------------------------------------------------------------------------------------------------------------------------------*/
/*  01 - NECO MALO O NAS  */
/*--------------------------------------------------------------------------------------------------------------------------------------------*/

.o-nas .popis{
    line-height: 2em;
    font-size: 1.25em;
}

.o-nas .o-nas-grid{
    padding: 2em 0;
    display: grid;
    gap: 1em;
    height: 85vh;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.o-nas .o-nas-grid h3{
    font-size: 1.5em;
    font-weight: 900;
    color: white;
}

.o-nas .o-nas-grid .back h3{
    padding: 0.25em;
    color: black;
}

.o-nas .o-nas-grid .back p{
    padding: 0.5em;
}

.o-nas .o-nas-grid div{
    border-radius: 2em;
}

.o-nas .o-nas-grid .p-padding{
    padding: 1em 0 0 1em;
}

.o-nas .o-nas-grid .kde-se-nachazime{
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 1;
    background-image: url("../fotos/kde_se_nachazime.jpg");
    background-size: cover;
}

.o-nas .o-nas-grid .proc-zrovna-sumavan{
    grid-column-start: 5;
    grid-column-end: 13;
    grid-row-start: 1;
    grid-row-end: 1;
    background-size: cover;
    background-image: url("../fotos/proc_zrovna_sumavan.jpg");
}

.o-nas .o-nas-grid .vybaveni{
    grid-column-start: 13;
    grid-column-end: 17;
    grid-row-start: 1;
    grid-row-end: 3;
    background-size: cover;
    background-image: url("../fotos/vybaveni.jpg");
}

.o-nas .o-nas-grid .nase-sluzby{
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 2;
    grid-row-end: 2;
    background-size: cover;
    background-image: url("../fotos/nase_sluzby.jpg");
}

.o-nas .o-nas-grid .prostory{
    grid-column-start: 7;
    grid-column-end: 13;
    grid-row-start: 2;
    grid-row-end: 2;
    background-size: cover;
    background-image: url("../fotos/prostory.jpg");
}

.o-nas .o-nas-grid .koupit-clenstvi{
    grid-column-start: 13;
    grid-column-end: 17;
    grid-row-start: 11;
    grid-row-end: 13;
    background-color: #DC635A;
    border-radius: 90em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.o-nas .o-nas-grid .koupit-clenstvi h3{
    color: white;
    font-size: 1.25em;
    font-weight: bold;
    padding: 1em;
}

/* tridy pro javascript */

.karta {
    transform-style: preserve-3d;
    transition: transform 0.6s;
    cursor: pointer;
}

.karta.flipped {
    transform: rotateY(180deg);
}

.karta .front, .karta .back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.karta .back {
    background-color: white;
    color: black;
    transform: rotateY(180deg);
    padding: 1em;
}
/*--------------------------------------------------------------------------------------------------------------------------------------------*/
/*  02 -  NASE SLUZBY */
/*--------------------------------------------------------------------------------------------------------------------------------------------*/

.nase-sluzby .nav{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2em;
    justify-content: center;
}

.nase-sluzby .nav li{
    font-size: 1.5em;
    font-weight: 900;
    padding: 2em 0;
    color: gray;
}

.nase-sluzby .nav li a{
    color: gray;
    text-decoration: none;
}

.nase-sluzby .nav li a.active {
    color: var(--color--secondary);
}

.nase-sluzby .obrazky{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "img-1 img-2";
    gap: 2em;
}   

.nase-sluzby .obrazky .obrazky-card img{
    border-radius: 2em;
    aspect-ratio: 16/9;
    width: 100%;
    height: 100%;
}

.nase-sluzby .obrazky .obrazky-card .img-1{
    grid-area: img-1;
}
.nase-sluzby .obrazky .obrazky-card .img-2{
    grid-area: img-2;
}

.nase-sluzby .obrazky .obrazky-card p{
    position: absolute;
    padding: 2em 0 0 2em;
    font-size: 1.5em;
    font-weight: 900;
    color: white;
}

.skupinovky-hidden{
    display: none;
}

.skupinove-lekce{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 25em);
    grid-template-areas: 
    "crossfit crossfit bjj bjj"
    "crossfit crossfit box trampoliny";
    gap: 2em;
}

.skupinove-lekce .crossfit{
    grid-area: crossfit;
}

.skupinove-lekce .bjj{
    grid-area: bjj;
}

.skupinove-lekce .box{
    grid-area: box;
}

.skupinove-lekce .trampoliny{
    grid-area: trampoliny;
}

.skupinove-lekce .card h3{
    position: absolute;
    color: black;
    font-size: 2em;
    font-weight: bold;
    padding: 1rem;
}

.skupinove-lekce .card-back h3{
    position: relative;
    color: black;
}

.skupinove-lekce .card p{
    padding: 1rem;
}

.skupinove-lekce .card img{
    width: 100%;
    height: 100%;
    border-radius: 2em;
}

.skupinove-lekce .card .card-back-treneri p{
    font-size: 1.5em;
    font-weight: bold;
    color: black;
}

.skupinove-lekce .card .card-back-treneri img{
    padding: 1em;
    max-width: 100px;
    border-radius: 2em;
}

.skupinove-lekce .card .card-back-treneri-button{
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 1em;
    padding: 1em;
}

.skupinove-lekce .card .card-back-treneri-button{
    border-radius: 2em;
    background-color: var(--color--secondary);
    width: fit-content;
    margin: 1rem;
    cursor: pointer;
}

.skupinove-lekce .card .card-back-treneri-button button{
    border: none;
    background-color: var(--color--secondary);
    color: white;
    font-weight: bold;
    font-size: 1em;
    padding: 1em;
    border-radius: 2em;
    cursor: pointer;
}

.skupinove-lekce .card .card-back-treneri-button img{
    max-width: 40px;
    max-height: 40px;
}

/* TRIDY PRO JAVASCRIPT */

.card {
    position: relative;
    width: 100%;
    height: 100%;
}  

.card-front{
    display: block;
}
.card-back{
    display: none;
    background-color: white;
    color: #333;
    border-radius: 2em;
}

.card-front,
.card-back {
    position: absolute;
    width: 100%;
    height: 100%;
}



/*--------------------------------------------------------------------------------------------------------------------------------------------*/
/*  03 -  CENIK */
/*--------------------------------------------------------------------------------------------------------------------------------------------*/

.cenik .grid-cenik {
    display: grid;
    gap: 1em;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr;
    grid-template-areas:
        "cenik-text cenik-tabulka"
}

.obrazek-podpis img{
    width: 100%;
    height: 100%;
}

.cenik .cenik-text {
    grid-area: cenik-text;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.cenik .cenik-tabulka {
    grid-area: cenik-tabulka;
    background-color: white;
    border-radius: 2em;
    color: black;
}

.cenik-tabulka h2 {
    text-align: center;
    font-size: 4em;
    font-weight: 900;
}

.cenik-tabulka .tabulka-grid {
    font-family: 'Anton', sans-serif;
    gap: 1em 2em;
    padding: 1.5em;
    display: grid;
    grid-template-columns: 1fr 2.5fr;
    grid-template-rows: 2fr 2fr 0.5fr;
    grid-template-areas:
        "tabulka-vrch tabulka-obrazek"
        "tabulka-spodek tabulka-obrazek"
        "tabulka-popisek tabulka-popisek";
}

.cenik-tabulka .tabulka-vrch {
    grid-area: tabulka-vrch;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.cenik-tabulka .tabulka-vrch tbody, .cenik-tabulka .tabulka-spodek tbody{
    width: 100%;
}

.cenik-tabulka .tabulka-vrch tr {
    display: flex;
    justify-content: space-between;
    gap: 1em;
    padding: 0.25em 0;
    border-top: 2px solid black;
    font-weight: 900;
    font-size: 1.15em;
}

.cenik-tabulka .tabulka-vrch tr:last-child {
    border-bottom: 2px solid black;
}

.cenik-tabulka .tabulka-spodek {
    grid-area: tabulka-spodek;
    display: flex;
    align-items: flex-end;
}

.cenik-tabulka .tabulka-spodek tr {
    display: flex;
    justify-content: space-between;
    gap: 1em;
    padding: 0.375em 0;
    border-top: 2px solid black;
    font-weight: 900;
    font-size: 1.15em;
}

.cenik-tabulka .tabulka-spodek tr:last-child {
    border-bottom: 2px solid black;
}

.cenik-tabulka .tabulka-obrazek {
    grid-area: tabulka-obrazek;
}

.cenik-tabulka .tabulka-obrazek img {
    width: 100%;
    height: 100%;
    border-radius: 2em;
}

.cenik-tabulka .tabulka-popisek {
    grid-area: tabulka-popisek;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
    padding: 1em;
}

.maly-text{
    font-size: 0.5em;
}

.cenik-button {
    border: 0;
    background-color: black;
    color: white;
    border-radius: 1em;
    padding: 1em;
    cursor: pointer;
}

.button-obrazek{
    cursor: pointer;
    width: 50px;
    max-width: 50px;
    max-height: 50px;
    padding: 0.5em;
    border: 2px solid black;
    border-radius: 2em;
}

.otoceni180{
    transform: rotate(180deg);
}

.skrtnute{
    text-decoration: line-through 1px solid;
    text-decoration-color: var(--color--secondary);
    -webkit-text-decoration-line: line-through;
    -webkit-text-decoration-color: var(--color--primary);
}

/*--------------------------------------------------------------------------------------------------------------------------------------------*/
/*  04 -  NASI TRENERI */
/*--------------------------------------------------------------------------------------------------------------------------------------------*/

.treneri .treneri-cards {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 4em;
    justify-content: center;
}

.treneri .card{
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 25em;
    cursor: pointer;
}

.treneri .treneri-cards .card .name{
    position: absolute;
    font-weight: bold;
    font-size: 1.5em;
}

.treneri .treneri-cards .card .name{
    padding: 2em;
}

.treneri .treneri-cards .front img{
    width: 100%;
    height: auto;
    border-radius: 2em;
}

.hidden{
    display: none;
}

.treneri .button-wrapper{
    padding: 1em;
    text-align: center;
}

.treneri .treneri-button{
    cursor: pointer;
    color: white;
    background-color: var(--color--tertiary);
    font-weight: 900;
    font-size: 1em;
    border: none;
    padding: 1em 2em;
    border-radius: 2em;
}

.card .back h3{
    font-size: 2em;
    font-weight: 900;
    padding: 1em 0 0 1em;
}

.card .back p:first-of-type{
    font-size: 1.25em;
    padding: 0 0 1rem 1.5rem;
}

.card .back p{
    padding: 1em;
}

.card .back-spodek{
    color: red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
}

.card .back-spodek img{
    width: 40px;
    height: 40px;
}

/* Tridy pro javascript */

.card .front, .card .back{
    width: 100%;
    height: 100%;
    min-height: 40em;
    max-height: 40em;
    backface-visibility: hidden;
}

.card .back{
    display: none;
    background-color: white;
    color: black;
    overflow: scroll;
}

.card.flipped .front{
    display: none;
}

.card.flipped .back{
    display: flex;
    border-radius: 2em;
    flex-direction: column;
    justify-content: space-between;
}

/*--------------------------------------------------------------------------------------------------------------------------------------------*/
/*  PRIJD NAVSTIVIT */
/*--------------------------------------------------------------------------------------------------------------------------------------------*/

.navsteva{
    background-color: white;
    border-radius: 2em;
    color: black;
    padding: 2em;
}

.navsteva-nadpis{
    font-size: 4em;
    font-weight: 900;
}

.navsteva-nadpis span{
    color: #DC635A;
}

/*--------------------------------------------------------------------------------------------------------------------------------------------*/
/*  FOOTER  */
/*--------------------------------------------------------------------------------------------------------------------------------------------*/

.footer-grid {
    display: grid;;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "adresa . ."
    "telefon . loga"
    "email footer-middle sumavan";
    padding: 2em 0;
    gap: 0 1em
}

.footer-grid .adresa {
    grid-area: adresa;
}

.footer-grid .telefon {
    grid-area: telefon;
    display: flex;
    align-self: center;
}

.footer-grid .email {
    grid-area: email;
}

.footer-grid .email, .footer-grid .telefon, .footer-grid .adresa {
    font-weight: 900;
    font-size: 1.125em;
}

.footer-grid .footer-middle {
    grid-area: footer-middle;
    display: flex;
    justify-content: center;
    gap: 2em;
}

.footer-grid .footer-middle a {
    color: var(--color--tertiary);
    text-decoration: none;
    font-weight: 900;
    font-size: 1.125em;
}

.footer-grid .loga {
    grid-area: loga;
    display: flex;
    justify-content: end;
    gap: 1em;
    padding-bottom: 1em;
}

.footer-grid .sumavan {
    grid-area: sumavan;
    text-align: right;
    font-weight: 900;
    font-size: 1.125em;
}
