@media (max-width: 500px) {

    /* NAVIGACE *
    /*
        TODO: hamburger navigace 
    */

    nav{
        
    }

    /* TRIDY OVLIVNUJICI VIC ELEMENTU */
    .sekce-nadpis h2:nth-child(2){
        width: 100%;
    }

    /* UVOD */

    .uvod .uvod-grid{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat(4, 1fr);
        grid-template-areas:
        "nazev nazev nazev"
        "text-hlavni text-hlavni ."
        "text-vedlejsi . ."
        ". oteviraci-doba oteviraci-doba";
    }

    .uvod .uvod-grid h1{
        font-size: 4em; 
        text-align: left;
        padding-left: 0.125em;
    }

    .uvod .uvod-grid .text-hlavni{
        display: block;
        font-size: 1.5em;
        font-weight: 900;
    }

    .uvod .uvod-grid .oteviraci-doba{
        justify-content: center;
        align-items: center;
        background-color: #DEDEDE;
        border-radius: 1em;
        margin: 1em;
    }

    .uvod .uvod-grid .oteviraci-doba .casy{
        text-align: center;
        grid-area: oteviraci-doba;
        font-size: 1em;  
    }

    /* O NÁS */

    .o-nas .o-nas-grid .p-padding{
        padding: 1em;
    }

    .o-nas .o-nas-grid{
        grid-template-columns: 1fr;
        grid-template-rows: 3fr 3fr 3fr 3fr 3fr 1fr 1fr;;
    }    

    .o-nas .o-nas-grid .kde-se-nachazime{
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 1;
        grid-row-end: 1;
    }

    .o-nas .o-nas-grid .proc-zrovna-sumavan{
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 2;
        grid-row-end: 2;
    }

    .o-nas .o-nas-grid .vybaveni{
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 3;
        grid-row-end: 3;
    }

    .o-nas .o-nas-grid .nase-sluzby{
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 4;
        grid-row-end: 4;
    }

    .o-nas .o-nas-grid .prostory{
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 5;
        grid-row-end: 5;
    }

    .o-nas .o-nas-grid .chci-si-precist-vic{
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 6;
        grid-row-end: 6;
    }

    .o-nas .o-nas-grid .koupit-clenstvi{
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 7;
        grid-row-end: 7;
    }

    /* NASE SLUŽBY */

    .nase-sluzby .nav {
        flex-wrap: nowrap;
        overflow: scroll;
        gap: 3em;
        padding: 0 1em 0 1em;
    }

    /* CENÍK */

    .cenik .grid-cenik{
        display: grid;
        gap: 1em;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        /*
        "cenik-text cenik-tabulka"
        "cenik-text2 cenik-tabulka"
        "obrazek-podpis cenik-tabulka"
        */
        grid-template-areas:
        "cenik-text"
        "cenik-text2"
        "obrazek-podpis"
        "cenik-tabulka";
    }

    /* NEVIM JESTLI UPLNE DOBRY NAPAD*/
    .cenik .grid-cenik{
        display: block;
    }

    .cenik-tabulka .tabulka-grid{
        gap: 1em 2em;
        padding: 1em;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 0.25fr;
        /*
        grid-template-areas:
        "tabulka-vrch tabulka-obrazek"
        "tabulka-spodek tabulka-obrazek"
        "tabulka-popisek tabulka-popisek";
        */
        grid-template-areas:
        "tabulka-obrazek"
        "tabulka-vrch"
        "tabulka-spodek"
        "tabulka-popisek";
        }

        /* footer */

        /*
        grid-template-areas: 
        "adresa . ."
        "telefon . loga"
        "email footer-middle sumavan";
        */

        .footer-grid{
            gap: 0;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(5, 0.5fr);
            grid-template-areas:
            "adresa"
            "telefon"
            "email"
            "loga"
            "sumavan";
        }

        .footer-grid .telefon{
            display: block;
            align-self: auto;
        }

        .footer-grid .loga{
            margin-top: 2em;
            display: block;
            align-self: auto;
        }

        .footer-grid .sumavan{
            display: block;
            text-align: left;
        }
}