html{scroll-behavior: smooth;}

*{
    /*outline: 1px dashed blue;*/
    box-sizing: border-box;
    margin: 0;
    line-height: 1.5;
}

:root{
    --color--primary: #DEDEDE;
    --color--secondary: #DC635A;
    --color--tertiary: #3A3A3A;
    --color--background: #1A1A1A;
}

@font-face{
    font-family: 'Anton';
    src: url("../font/Anton-Regular.ttf") format('truetype');
    font-weight: regular;
}


body{
    color: var(--color--primary);
    background-color: var(--color--background);
    /**/
    font-family: 'Anton', sans-serif;
    padding: 0 4vw;
    line-height: 1.5;
    max-width: 1920px;
    margin: 0 auto;
}

.font-secondary{
    font-family: montserrat, serif;
}

.zvyrazneni{
    color: var(--color--primary);
    background-color: var(--color--secondary);
    font-weight: bold;
    padding: 0.25em;
    border-radius: 0.5em;
}

.color-primary{color: var(--color--primary);}
.color-secondary{color: var(--color--secondary);}
.p-uvod{padding: 4em 0 2em 0;}
.p-sekce{padding: 2em 0;}
.p-reset{padding: 0 !important;}
.text-bold{font-weight: 900;}
.text-bigger{font-size: 1.125rem;}
.padding-rl{padding: 0 0.5em 0 0.5em;}

/*--------------------------------------------------------------------------------------------------------------------------------------------*/
/*  UVOD  */
/*--------------------------------------------------------------------------------------------------------------------------------------------*/

nav button{
    display: none;
}

nav{
    padding: 4em 0 6em 0;
}

nav ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

nav ul li{
    padding: 1em;
    color: var(--color--tertiary);
    font-weight: normal;
    font-size: 1.25em;
}

nav ul li a{
    text-decoration: none;
    color: var(--color--tertiary);
}

nav ul li:first-child{
    margin-right: auto;
    border-radius: 1em;
    background-color: var(--color--tertiary);
}

nav ul li a:hover{
    color: var(--color--primary);
    cursor: pointer;
    transition: ease-in-out 0.5s;
}

nav ul li a:visited{
    color: var(--color--tertiary);
    cursor: pointer;
}

nav ul li:first-child a:visited{
    color: white;
}


.sekce-nadpis{
    display: flex;
    align-items: center;
    gap: 1em;
    padding: 1em 0;
}

.sekce-nadpis h2{
    font-size: 3em;
    font-weight: bold;
}

.sekce-nadpis h2:nth-child(2){
    font-size: 1.5em;
    font-weight: normal;
    border-radius: 1.5em;
    background-color: var(--color--primary);
    color: var(--color--background);
    padding: 0.5em 1em;
    width: 40vw;
}


.uvod .uvod-grid{
    background-image: url("../fotos/uvodni_foto.jpg");
    background-size: cover;
    gap: 2em;
    height: 85vh;
    display: grid;
    background-position: center;
    border-radius: 2em;
    grid-template-columns: 3fr 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas:
        "nazev nazev nazev"
        "text-hlavni . ."
        "text-vedlejsi . ."
        ". . oteviraci-doba";
}

.uvod .uvod-grid h1{
    grid-area: nazev;
    font-size: 8.333vw;
    font-weight: 900;
    margin-top: -0.75em;
    color: var(--color--secondary);
    text-align: center;
}

.uvod .uvod-grid .text-hlavni{
    grid-area: text-hlavni;
    font-size: 3.333vw;
    font-weight: 900;
    padding-left: 3rem;
    color: white;
}

.uvod .uvod-grid .text-vedlejsi{
    grid-area: text-vedlejsi;
    font-size: 1.2495vw;
    padding-left: 3rem;
    color: white;
}

.uvod .uvod-grid .oteviraci-doba{
    grid-area: oteviraci-doba;
    font-size: 1.5em;
    font-weight: 900;
    padding: 2rem;
    display: flex;
    align-items: end;
}

.uvod .uvod-grid .oteviraci-doba .casy{
    background-color: var(--color--primary);
    color: var(--color--tertiary);
    border-radius: 2em;
    padding: 1em;
    text-align: center;
    width: 15em;
}

/*--------------------------------------------------------------------------------------------------------------------------------------------*/
/*  01 - NECO MALO O NAS  */
/*--------------------------------------------------------------------------------------------------------------------------------------------*/

.o-nas .popis{
    line-height: 2em;
    font-size: 1.25em;
    width: 50vw;
}

.o-nas .o-nas-grid{
    padding: 2em 0;
    display: grid;
    gap: 1em;
    height: 85vh;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.o-nas .o-nas-grid h3{
    font-size: 1.5em;
    color: white;
}

.o-nas .o-nas-grid .back h3{
    padding: 0.25em;
    color: black;
}

.o-nas .o-nas-grid .back p{
    padding: 0.5em;
    font-size: 1.25rem;
}

.o-nas .o-nas-grid div{
    border-radius: 2em;
}

.o-nas .o-nas-grid .p-padding{
    padding: 1em 0 0 1em;
}

.o-nas .o-nas-grid .kde-se-nachazime{
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 1;
    background-image: url("../fotos/kde_se_nachazime.jpg");
    background-size: cover;
}

.o-nas .o-nas-grid .proc-zrovna-sumavan{
    grid-column-start: 5;
    grid-column-end: 13;
    grid-row-start: 1;
    grid-row-end: 1;
    background-size: cover;
    background-image: url("../fotos/proc_zrovna_sumavan.jpg");
}

.o-nas .o-nas-grid .vybaveni{
    grid-column-start: 13;
    grid-column-end: 17;
    grid-row-start: 1;
    grid-row-end: 3;
    background-size: cover;
    background-image: url("../fotos/vybaveni.jpg");
}

.o-nas .o-nas-grid .nase-sluzby{
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 2;
    grid-row-end: 2;
    background-size: cover;
    background-image: url("../fotos/nase_sluzby.jpg");
}

.o-nas .o-nas-grid .prostory{
    grid-column-start: 7;
    grid-column-end: 13;
    grid-row-start: 2;
    grid-row-end: 2;
    background-size: cover;
    background-image: url("../fotos/prostory.jpg");
}


.o-nas .o-nas-grid .koupit-clenstvi h3{
    color: white;
    font-size: 1.25em;
    font-weight: bold;
    padding: 1em;
}

/* tridy pro javascript */

.karta {
    transform-style: preserve-3d;
    transition: transform 0.6s;
    cursor: pointer;
}

.karta.flipped {
    transform: rotateY(180deg);
}

.karta .front, .karta .back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.karta .back {
    background-color: white;
    color: black;
    transform: rotateY(180deg);
    padding: 1em;
}
/*--------------------------------------------------------------------------------------------------------------------------------------------*/
/*  02 -  NASE SLUZBY */
/*--------------------------------------------------------------------------------------------------------------------------------------------*/

.nase-sluzby .nav{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2em;
    justify-content: center;
}

.nase-sluzby .nav li{
    font-size: 1.5em;
    font-weight: 900;
    padding: 2em 0;
    color: gray;
}

.nase-sluzby .nav li a{
    color: gray;
    text-decoration: none;
}

.nase-sluzby .nav li a.active {
    color: var(--color--secondary);
}

.sluzby-grid{
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
    "posilovna posilovna kruhovy-trenink"
    "corefit-women pilates pohybove-hry";
    height: 85vh;
}

.sluzby-grid .posilovna{
    grid-area: posilovna;
    background-image: url("../fotos02/posilovna.jpg");
    background-size: cover;
    background-position: center;
}

.sluzby-grid .kruhovy-trenink{
    grid-area: kruhovy-trenink;
    background-image: url("../fotos02/kruhovy-trenink.jpg");
    background-size: cover;
}

.sluzby-grid .corefit-women{
    grid-area: corefit-women;
    background-image: url("../fotos02/corefit-women.jpg");
    background-size: cover;
    background-position: center;
}

.sluzby-grid .pilates{
    grid-area: pilates;
    background-image: url("../fotos02/pilates.jpg");
    background-size: cover;
    background-position: center;
}

.sluzby-grid .pohybove-hry{
    grid-area: pohybove-hry;
    background-image: url("../fotos02/pohybove-hry.jpg");
    background-size: cover;
    background-position: center;
}

.sluzby-grid .nadpis, .kardio-grid .nadpis, .protazeni-grid .nadpis{
    padding: 2rem;
    font-size: 2rem;
}

.sluzby-grid .back, .kardio-grid .back, .protazeni-grid .back{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.sluzby-grid .back .rozvrh-button, .kardio-grid .back .rozvrh-button, .protazeni-grid .back .rozvrh-button{
    margin-top: auto;
    align-self: end;
    padding: 2em 3em;
}

.sluzby-grid .back .rozvrh-button button, .kardio-grid .back .rozvrh-button button, .protazeni-grid .back .rozvrh-button button{
    background-color: var(--color--secondary);
    color: white;
    border: none;
    border-radius: 5em;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 2em;
    justify-content: space-around;
    padding: 1em 2em;
}

.sluzby-grid .back .rozvrh-button button img, .kardio-grid .back .rozvrh-button button img, .protazeni-grid .back .rozvrh-button button img{
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 99em;
    padding: 1em;
}

.rozvrh-button-text{
    font-size: 1.5em;
    padding: 1rem 0 1rem 1rem;
    /*use font*/
    font-family: 'Anton', sans-serif;
}

.sluzby-grid .nadpis-back, .kardio-grid .nadpis-back, .protazeni-grid .nadpis-back{
    padding: 1rem;
    font-size: 1.5em;
}

.sluzby-grid div, .kardio-grid div, .protazeni-grid div{
    border-radius: 2em;
}

.sluzby-grid div p, .kardio-grid div p, .protazeni-grid div p{
    font-weight: normal;
    padding: 1rem;
    font-size: 1.25em;
}

.kardio-grid{
    display: grid;
    height: 85vh;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
    "hiit kardio-posilovani"
    "tabata kardio-kruhac";
    gap: 2em;
}

.kardio-grid .hiit{
    grid-area: hiit;
    background-image: url("../fotos02/HIIT.jpg");
    background-size: cover;
}

.kardio-grid .kardio-posilovani{
    grid-area: kardio-posilovani;
    background-image: url("../fotos02/kardio-posilovani.jpg");
    background-size: cover;
}

.kardio-grid .tabata{
    grid-area: tabata;
    background-image: url("../fotos02/tabata.jpg");
    background-size: cover;
}

.kardio-grid .kardio-kruhac{
    grid-area: kardio-kruhac;
    background-image: url("../fotos02/kardio-kruhac.jpg");
    background-size: cover;
}

.protazeni-grid{
    display: grid;
    height: 85vh;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
    "ranni-protazeni ranni-valecka zdrava-zada"
    "joga aktivni-senior sm-lana";
    gap: 2em;
}

.protazeni-grid .ranni-protazeni{
    grid-area: ranni-protazeni;
    background-image: url("../fotos02/ranni-protazeni.jpg");
    background-size: cover;
}

.protazeni-grid .ranni-valecka{
    grid-area: ranni-valecka;
    background-image: url("../fotos02/ranni-valecka.jpg");
    background-size: cover;
}

.protazeni-grid .zdrava-zada{
    grid-area: zdrava-zada;
    background-image: url("../fotos02/zdrava-zada.jpg");
    background-size: cover;
}

.protazeni-grid .joga{
    grid-area: joga;
    background-image: url("../fotos02/joga.jpg");
    background-size: cover;
}

.protazeni-grid .aktivni-senior{
    grid-area: aktivni-senior;
    background-image: url("../fotos02/aktivni-senior.jpg");
    background-size: cover;
}

.protazeni-grid .sm-lana{
    grid-area: sm-lana;
    background-image: url("../fotos02/sm-lana.jpg");
    background-size: cover;
}

/*--------------------------------------------------------------------------------------------------------------------------------------------*/
/*  03 -  CENIK */
/*--------------------------------------------------------------------------------------------------------------------------------------------*/

.cenik .grid-cenik {
    display: grid;
    gap: 1em;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr;
    grid-template-areas:
        "cenik-text cenik-tabulka"
}

.obrazek-podpis{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.obrazek-podpis img{
    width: 100%;
    height: 100%;
    text-align: right;
}

.obrazek-podpis .podpis-p{
    position: absolute;
    font-family: 'Anton', sans-serif;
    font-size: 1.5em;
}

.cenik .cenik-text {
    grid-area: cenik-text;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.25rem;
}

.cenik .cenik-tabulka {
    grid-area: cenik-tabulka;
    background-color: var(--color--primary);
    border-radius: 2em;
    color: black;
}

.cenik-tabulka h2 {
    text-align: center;
    font-size: 4em;
    padding-top: 1rem;
}

.cenik-tabulka .tabulka-grid {
    font-family: 'Anton', sans-serif;
    gap: 1em 2em;
    padding: 1.5em;
    display: grid;
    grid-template-columns: 1fr 2.5fr;
    grid-template-rows: 2fr 2fr 0.5fr;
    grid-template-areas:
        "tabulka-vrch tabulka-obrazek"
        "tabulka-spodek tabulka-obrazek"
        "tabulka-popisek tabulka-popisek";
}

.cenik-tabulka .tabulka-vrch {
    grid-area: tabulka-vrch;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.cenik-tabulka .tabulka-vrch tbody, .cenik-tabulka .tabulka-spodek tbody{
    width: 100%;
}

.cenik-tabulka .tabulka-vrch tr {
    display: flex;
    justify-content: space-between;
    gap: 1em;
    padding: 0.25em 0;
    border-top: 2px solid black;
    font-size: 1.5em;
}

.cenik-tabulka .tabulka-vrch tr:last-child {
    border-bottom: 2px solid black;
}

.cenik-tabulka .tabulka-spodek {
    grid-area: tabulka-spodek;
    display: flex;
    align-items: flex-end;
}

.cenik-tabulka .tabulka-spodek tr {
    display: flex;
    justify-content: space-between;
    gap: 1em;
    padding: 0.375em 0;
    border-top: 2px solid black;
    font-size: 1.5em;
}

.cenik-tabulka .tabulka-spodek tr:last-child {
    border-bottom: 2px solid black;
}

.cenik-tabulka .tabulka-obrazek {
    grid-area: tabulka-obrazek;
}

.cenik-tabulka .tabulka-obrazek img {
    width: 100%;
    height: 100%;
    border-radius: 2em;
    object-fit: cover;
    object-position: center;
}

.cenik-tabulka .tabulka-popisek {
    grid-area: tabulka-popisek;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
    padding: 1em;
}

.maly-text{
    font-size: 0.5em;
}

.cenik-button {
    border: 0;
    background-color: black;
    color: white;
    border-radius: 1em;
    padding: 1em;
    cursor: pointer;
}

.button-obrazek{
    cursor: pointer;
    width: 50px;
    max-width: 50px;
    max-height: 50px;
    padding: 0.5em;
    border: 2px solid black;
    border-radius: 2em;
}

.otoceni180{
    transform: rotate(180deg);
}

.skrtnute{
    text-decoration: line-through 1px solid;
    text-decoration-color: var(--color--secondary);
    text-decoration-line: line-through;
    -webkit-text-decoration-line: line-through;
    -webkit-text-decoration-color: var(--color--primary);
}

/*--------------------------------------------------------------------------------------------------------------------------------------------*/
/*  04 -  NASI TRENERI */
/*--------------------------------------------------------------------------------------------------------------------------------------------*/

.treneri .treneri-cards {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.treneri .card{
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 33%;
    cursor: pointer;
    overflow: hidden;
    padding: 1em;
}

.treneri .treneri-cards .card .name{
    position: absolute;
    font-weight: normal;
    font-size: 2rem;
}

.treneri .treneri-cards .card .name{
    padding: 2rem;
}

.treneri .treneri-cards .front img{
    width: 100%;
    height: auto;
    border-radius: 2em;
    aspect-ratio: 0.67/1;
}

.hidden{
    display: none;
}

.treneri .button-wrapper{
    padding: 1em;
    text-align: center;
}

.treneri .treneri-button{
    cursor: pointer;
    color: white;
    background-color: var(--color--tertiary);
    font-weight: 900;
    font-size: 1em;
    border: none;
    padding: 1em 2em;
    border-radius: 2em;
}

.card .back h3{
    font-size: 2em;
    font-weight: normal;
    padding: 2rem 0 0 2rem;
}

.card .back p:first-of-type{
    font-size: 1.25em;
    padding: 0 0 1rem 2rem;
}

.card .back p{
    padding: 2rem;
    font-size: 1.25rem;
}

.card .back-spodek{
    color: red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
}

.card .back-spodek img{
    width: 40px;
    height: 40px;
}

/* Tridy pro javascript */

.card .back{
    display: none;
    background-color: white;
    color: black;
    overflow: scroll;
    max-width: 33vw;
    aspect-ratio: 0.67/1;
}

.card.flipped .front{
    display: none;
}

.card.flipped .back{
    display: flex;
    border-radius: 2em;
    flex-direction: column;
    justify-content: space-between;
}

/*--------------------------------------------------------------------------------------------------------------------------------------------*/
/*  PRIJD NAVSTIVIT */
/*--------------------------------------------------------------------------------------------------------------------------------------------*/

.navsteva{
    background-color: white;
    border-radius: 2em;
    color: black;
    padding: 2em;
}

.navsteva-nadpis{
    font-size: 4em;
    font-weight: 900;
}

.navsteva-nadpis span{
    color: #DC635A;
}

.navsteva p{
    font-size: 1.25rem;
}

/*--------------------------------------------------------------------------------------------------------------------------------------------*/
/*  FOOTER  */
/*--------------------------------------------------------------------------------------------------------------------------------------------*/

.footer-grid {
    display: grid;;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "adresa . ."
    "telefon . loga"
    "email footer-middle sumavan";
    padding: 2em 0;
    gap: 0 1em
}

.footer-grid .adresa {
    grid-area: adresa;
}

.footer-grid .telefon {
    grid-area: telefon;
    display: flex;
    align-self: center;
}

.footer-grid .email {
    grid-area: email;
}

.footer-grid .email, .footer-grid .telefon, .footer-grid .adresa {
    font-size: 1.125em;
}

.footer-grid .footer-middle {
    grid-area: footer-middle;
    display: flex;
    justify-content: center;
    gap: 2em;
}

.footer-grid .footer-middle a {
    color: var(--color--tertiary);
    text-decoration: none;
    font-size: 1.125em;
}

.footer-grid .loga {
    grid-area: loga;
    display: flex;
    justify-content: end;
    gap: 1em;
    padding-bottom: 1em;
}

.footer-grid .sumavan {
    grid-area: sumavan;
    text-align: right;
    font-size: 1.125em;
}

/*
    Provizorní řešení
    (pouzito jenom u 01 - NECO MALO O NAS)
*/

.ikonka-test{
    width: 5rem;
    margin-left: auto;
}