.o-nas .popis{
    font-size: 1.25em;
}

.o-nas .popis .sipka{
    font-size: 1.5em;
}

.o-nas .o-nas-grid{
    padding: 4em 0;
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(12, 1fr);
}

.o-nas .o-nas-grid p{
    color: black;
    font-size: 1.5em;
}

.o-nas .o-nas-grid div{
    border: 1px solid red;
    border-radius: 2em;
}

.o-nas .o-nas-grid .p-padding{
    padding: 1em 0 0 1em;
}

.o-nas .o-nas-grid .kde-se-nachazime{
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 8;
    background-color: blue;
    background-image: url(obrazky_provizorni/placeholder-card.png);
}

.o-nas .o-nas-grid .proc-zrovna-sumavan{
    grid-column-start: 5;
    grid-column-end: 13;
    grid-row-start: 1;
    grid-row-end: 6;
    background-color: red;
    background-image: url(obrazky_provizorni/placeholder-card.png);
}

.o-nas .o-nas-grid .vybaveni{
    grid-column-start: 13;
    grid-column-end: 17;
    grid-row-start: 1;
    grid-row-end: 10;
    background-color: pink;
    background-image: url(obrazky_provizorni/placeholder-card.png);
}

.o-nas .o-nas-grid .chci-si-precist-vic{
    grid-column-start: 5;
    grid-column-end: 13;
    grid-row-start: 6;
    grid-row-end: 8;
    border: 0.5em solid white;
    border-radius: 90em;
    display: flex;
    align-items: center;   
}

.o-nas .o-nas-grid .chci-si-precist-vic p{
    color: white;
    padding: 1em;
    font-size: 1.5em;
    font-weight: bold;
}

.o-nas .o-nas-grid .nase-sluzby{
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 8;
    grid-row-end: 12;
    background-color: green;
    background-image: url(obrazky_provizorni/placeholder-card.png);
}

.o-nas .o-nas-grid .prostory{
    grid-column-start: 7;
    grid-column-end: 13;
    grid-row-start: 8;
    grid-row-end: 12;
    background-color: orange;
    background-image: url(obrazky_provizorni/placeholder-card.png);
}

.o-nas .o-nas-grid .koupit-clenstvi{
    grid-column-start: 13;
    grid-column-end: 17;
    grid-row-start: 10;
    grid-row-end: 12;
    background-color: #DC635A;
    border-radius: 90em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.o-nas .o-nas-grid .koupit-clenstvi p{
    color: white;
    font-size: 1.25em;
    font-weight: bold;
    padding: 1em;
}


.o-nas .o-nas-grid .koupit-clenstvi .obrazek-o-nas{
    margin-right: 2em;
    background-color: white;
    border-radius: 99em;
}