.navsteva{
    background-color: white;
    border-radius: 2em;
    color: black;
    padding: 2em;
}

.navsteva-nadpis{
    font-size: 4em;
    font-weight: 900;
}

.navsteva-nadpis span{
    color: #DC635A;
}