.footer-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-template-areas: 
    "adresa . ."
    "telefon . loga"
    "email footer-middle sumavan";
    padding: 1em 0;
}

.footer-grid .adresa {
    grid-area: adresa;
}

.footer-grid .telefon {
    grid-area: telefon;
}

.footer-grid .email {
    grid-area: email;
}

.footer-grid .footer-middle {
    grid-area: footer-middle;
    display: flex;
    justify-content: center;
    gap: 2em;
}

.footer-grid .loga {
    grid-area: loga;
    display: flex;
    justify-content: end;
    gap: 1em;
}

.footer-grid .sumavan {
    grid-area: sumavan;
    text-align: right;
}
