*{
    /*outline: 1px dashed blue;*/
    outline: 1px dashed blue;
    box-sizing: border-box;
    margin: 0;
}

:root{
    --color--primary: #DEDEDE;
    --color--secondary: #DC635A;
    --color--tertiary: #3A3A3A;
    --color--background: #1A1A1A;
}

body{
    color: var(--color--primary);
    background-color: var(--color--background);
    font-family: montserrat, serif;
    padding: 0 4vw;
    line-height: 1.5;
}

nav{
    padding: 2em 0;
}

nav ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

nav ul li{
    padding: 1em;
    color: var(--color--tertiary);
    font-weight: bold;
    font-size: 1.2em;
}

nav ul li:first-child{
    margin-right: auto;
    border-radius: 1em;
    background-color: var(--color--tertiary);
    color: var(--color--primary);
}

/*
.test {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
}
*/

