*{
    /*outline: 1px dashed blue;*/
    box-sizing: border-box;
    margin: 0;
    line-height: 1.5;
}

:root{
    --color--primary: #DEDEDE;
    --color--secondary: #DC635A;
    --color--tertiary: #3A3A3A;
    --color--background: #1A1A1A;
}

body{
    color: var(--color--primary);
    background-color: var(--color--background);
    font-family: montserrat, serif;
    padding: 0 4vw;
    line-height: 1.5;
}

nav{
    padding: 2em 0;
}

nav ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

nav ul li{
    padding: 1em;
    color: var(--color--tertiary);
    font-weight: bold;
    font-size: 1.2em;
}

nav ul li:first-child{
    margin-right: auto;
    border-radius: 1em;
    background-color: var(--color--tertiary);
    color: var(--color--primary);
}

nav ul li a:hover{
    color: var(--color--primary);
    cursor: pointer;
    transition: ease-in-out 0.5s;
}

.sekce-nadpis{
    display: flex;
    align-items: center;
    gap: 1em;
    padding: 1em 0;
}

.sekce-nadpis h2{
    font-size: 3em;
    font-weight: bold;
}

.sekce-nadpis h2:nth-child(2){
    font-size: 1.5em;
    font-weight: 900;
    border-radius: 0.5em;
    background-color: var(--color--primary);
    color: var(--color--background);
    padding: 0.5em;
    width: 60%;
}


.uvod .uvod-grid{
    margin: 4em 0;
    background-image: url("obrazky_provizorni/uvodni_foto.webp");
    height: 80vh;
    display: grid;
    background-position: center;
    border-radius: 2em;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas:
        "nazev nazev nazev"
        "text-hlavni . ."
        "text-vedlejsi . ."
        ". . oteviraci-doba";
}

.uvod .uvod-grid > *{
    text-align: center;
}

.uvod .uvod-grid h1{
    grid-area: nazev;
    font-size: 6em;
    font-weight: 900;
    margin-top: -0.75em;
    color: var(--color--secondary);
}

.uvod .uvod-grid .text-hlavni{
    grid-area: text-hlavni;
    font-size: 1.5em;
    font-weight: 900;
}

.uvod .uvod-grid .text-vedlejsi{
    grid-area: text-vedlejsi;
    font-size: 1.5em;
    font-weight: 900;
}

.uvod .uvod-grid .oteviraci-doba{
    grid-area: oteviraci-doba;
    font-size: 1.5em;
    font-weight: 900;
    padding: 2em;
}
