.treneri .treneri-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    justify-content: center;
}

.treneri .treneri-cards .card .name{
    position: absolute;
    font-weight: bold;
    font-size: 1.5em;
}

.treneri .treneri-cards .card .name{
    padding: 2em;
}

.treneri .treneri-cards img{
    width: 25vw;
    height: auto;
    border-radius: 2em;
}

