.treneri .treneri-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: center;
}

.treneri .treneri-cards .card{

}

.treneri .treneri-cards .card .name, .treneri .treneri-cards .card .popisek{
    color: blue;
    position: absolute;
    font-weight: bold;
    font-size: 1.5em;

}

.treneri .treneri-cards .card .name{
    padding: 2em;
}
.treneri .treneri-cards .card .popisek{
    padding: 4em 2em;
}

.treneri .treneri-cards img{
    width: 30vw;
    height: auto;
    border-radius: 2em;
}

