.treneri .treneri-cards {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 2em;
    justify-content: center;
}

.treneri .card{
    border: 0.25em solid white;
    border-radius: 1em;
}

.treneri .treneri-cards .card .name{
    position: absolute;
    font-weight: bold;
    font-size: 1.5em;
}

.treneri .treneri-cards .card .name{
    padding: 2em;
}

.treneri .treneri-cards img{
    width: 25vw;
    height: auto;
    border-radius: 2em;
}

.hidden{
    display: none;
}

.treneri .button-wrapper{
    padding: 1em;
    text-align: center;
}

.treneri .treneri-button{
    cursor: pointer;
    color: white;
    background-color: grey;
    font-weight: 900;
    font-size: 1em;
    border: none;
    padding: 1em;
    border-radius: 2em;
}